.AddAppointment {
    max-width: 50%;
}

@media (max-width: 844px) {
    .AddAppointment {
        max-width: 100%;
    }
}

.InputConnectionSend {
    background-color: royalblue !important;
}

label {
    margin-top: 0.8rem;
}