#addUser {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: white;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#addUserForm {
    display: flex;
    flex-direction: column;
}

#addUserForm label {
    color: #3a3838;
}

#userList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addUserFormErrors {
    color: rgb(182, 1, 1);
}

.formGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formGroupItem {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-bottom: 1.2rem;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.SelectAgencie {
    display: block;
    /* width: 100%; */
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    appearance: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.userItems {
    min-width: 350px;
    max-width: 100%;
    margin: 5%;
    max-height: 250px;
}

.modal-trigger-button {
    min-width: 25rem;
    height: 3.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background: rgb(93, 174, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.modal-trigger-button:hover,
.modal-trigger-button:focus,
.modal-trigger-button:active {
    background: rgba(24, 113, 168, 1);
    color: white;
    transition: 0.5s;
}

.modal-trigger-button>img {
    width: 2rem;
}

.rs-modal-content {
    background-color: #ececec;
    border: solid 1px darkslateblue;
    box-shadow: 0px 0px 10px 3px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    margin-bottom: 25%;
}

.rs-modal-body p {
    color: #3a3838;
}

button.user-button {
    background-color: rgba(65, 105, 225);
    font-weight: 600;
    font-size: 1.1rem;
}

button.user-button.rs-btn-primary:hover {
    background-color: #1C3A94;
}

@media (max-width: 844px) {
    h1 {
        font-size: 1.5rem !important;
    }

    .modal-trigger-button {
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }

    #userList {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .modal-trigger-button {
        font-size: 1rem;
    }

    .rs-modal-wrapper {
        overflow: hidden;
    }

    .rs-modal-content {
        height: 50%;
        width: 360px;
        margin-top: 10%;
        margin-left: 0.5rem;
    }

    .formGroupItem {
        width: 100%;
        margin-bottom: 1.2rem;
    }

    .formItem {
        margin-bottom: 1.2rem;
    }
}