.Immo_sideNav {
    height: 100%;
    max-width: 300px;
    position: fixed;
    background-color: #3a3838 !important;
    box-shadow: 0px 0px 10px 3px;
    top: 0;
    z-index: 2;
}

/* .rs-nav>ul:nth-child(1)>a:nth-child(5)>li:nth-child(1)>a:nth-child(1) {
    position: relative;
    top: 0;
    left: 0;
} */

.rs-nav>ul:nth-child(1)>a:nth-child(5)>li:nth-child(1)>a:nth-child(1) .rs-sidenav-body div.avatar {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 3rem;
    height: 3rem;
}

button.immo-buttonNav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 0;
}

.rs-nav-item-content {
    color: white !important;
    font-weight: 600 !important;
}

.rs-nav-default .rs-nav-item:not(.rs-nav-item-active):not(.rs-nav-item-disabled)>.rs-nav-item-content:focus {
    background-color: royalblue !important;
}

.rs-nav-default .rs-nav-item:not(.rs-nav-item-active):not(.rs-nav-item-disabled)>.rs-nav-item-content:hover {
    background-color: #1c3a94 !important;
}

.rs-btn.rs-btn-default.immo-buttonNav {
    background-color: transparent;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    margin: auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

i.rs-icon-angle-double-right,
i.rs-icon-angle-double-left {
    font-size: 2rem;
}

i.rs-icon {
    font-size: 1.5rem !important;
    margin-left: -0.3rem;
    margin-bottom: -0.2rem;
}