.Appointments{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(12,10%);
    /* height: 100vh; */
}

.Appointments h1{
    grid-column: 1/11;
    grid-row: 1/1;
}

.Appointment{
    width: 97%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90px;
    background: rgb(93, 174, 224);
    border-radius: 10px;
    color: #fff;
    margin: auto auto 10px;
    transition: 0.5s;
    box-shadow: 0 0 4px 2px grey;
}

.Appointment img{
    width: 10%;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

.Appointment h2{
    margin-right: 2%;
}

.AppointmentList{
    float: left;
    margin-left: 1%;
    text-align: center;
    overflow-y: scroll;
    max-height: 1080px;
    border-radius: 10px;
    grid-column: 6/11;
    grid-row: 2/13;
}

.AddAppointment{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    grid-column: 1/6;
    grid-row: 8/13;
}

.Appointment:hover{
    background:  rgba(24,113,168,1);
    transition: 0.5s;
}

.LabelAddAppointment{
    width: 100%;
    font-size: 1.2rem;
    display: inline-block;
}

.InputAddAppointment{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid black;
}

.InputDate{
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid black;
    flex: 5;
}

.InputTime{
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid black;
    flex: 5;
}

#dateAndHour {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#dateAndHour > label {
    max-width: 100%;
}

.AddAppointmentForm{
    width: 100%;
}

#contactName, #date, #time, #appointmentAddress, #usersId, #description {
    box-shadow: inset 0px 0px 3px 1px grey;
    border: none;
    border-radius: 5px;
}