.avatar {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ccc;
    border-radius: 50%;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid rgb(150, 149, 149);
    text-shadow: rgb(36, 36, 36) 1px 1px 2px;
}