.Login {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    background-color: rgb(150, 149, 149);
    overflow: hidden;
}

.Login:before {
    content: '';
    position: fixed;
    left: 40%;
    width: 200vw;
    height: 300vh;
    background-color: rgb(150, 149, 149);
    background-color: royalblue;
    top: 0;
    box-shadow: 0 0 15px 1px #4b1c5c94;
    transform: rotate(45deg);
    overflow: hidden;
}

.Titlelogin {
    font-size: 2rem;
    color: royalblue;
    grid-column: 1/12;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    grid-row: 1;
    margin-top: 5%;
    text-align: center;
}

.Connection {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    justify-self: center;
    align-self: center;
    width: 35rem;
    height: 25rem;
    border-radius: 20px;
    grid-column: 2/10;
    grid-row: 2/10;
    box-shadow: 0px 0px 11px 0px grey;
    background-color: whitesmoke;
    z-index: 1;
}

.LogoConnection {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    box-shadow: 0px 0px 10px 0px royalblue;
    grid-column: 5/8;
    margin-top: 2%;
    grid-row: 3/9;
    margin-left: 23%;
    z-index: 2;
}

.FormConnection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 3/9;
    grid-row: 3;
}

.LabelConnection {
    width: 100%;
    color: darkslategrey;
}

.InputConnection {
    border-radius: 10px;
    padding: 1%;
    width: 100%;
    border: 1px solid;
    font-size: 1.3rem;
    margin-bottom: 2%;
    margin-top: 2%;
}

.InputConnectionSend {
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    font-size: 1.2rem;
    box-shadow: 2px 6px 6px -2px #00000070;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 15rem;
}

.InputConnectionSend:hover {
    background-color: white;
    cursor: pointer;
}


@media only screen and (max-width:768px) {
    .Login:before {
        left: 0%;
        width: 289vw;
        height: 290%;
    }

    .Connection {
        grid-column: 2/10;
    }

    .LogoConnection {
        margin-left: 10%;
    }
}


@media only screen and (max-width:414px) {

    .Login:before {
        padding: 0;
        left: 0;
        width: 200vw;
        height: 350vw;
    }

    .InputConnectionSend {
        width: 100%;
    }

    .Connection {
        max-width: 95vw;
    }

    .Titlelogin {
        font-size: 1.8rem
    }

    .InputConnection {
        font-size: 1rem;
    }

    .FormConnection {
        grid-row: 4;
        grid-column: 2/10;
    }

    .Alert {
        grid-row: 4/4 !important;
    }
}

.buttonLoging{
    width: 100% !important;
    margin-top: 3% !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin-bottom: 3% !important;
}